<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>hackr.tv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="<%= url("/css/#{CACHE_BUSTING_TOKEN}_tuicss.css") %>" />
    <link rel="stylesheet" href="<%= url("/css/#{CACHE_BUSTING_TOKEN}_default.css") %>" />
    <script src="<%= url("/javascripts/#{CACHE_BUSTING_TOKEN}_tuicss.js") %>"></script>
  <head>

  <body class="black-168">
    <%= erb(:"shared/_header_menu_mobile") %>

    <br>
    <br>
    <br>

    <div class="ml-10 mb-20 pb-50">
      <%= yield %>
    <div>

  </body>
</html>
