<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>X E R A E N</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="<%= url("/css/#{CACHE_BUSTING_TOKEN}_tuicss.css") %>" />
    <link rel="stylesheet" href="<%= url("/css/#{CACHE_BUSTING_TOKEN}_default.css") %>" />
    <link rel="stylesheet" href="<%= url("/css/#{CACHE_BUSTING_TOKEN}_xeraen.css") %>" />
    <script src="<%= url("/javascripts/#{CACHE_BUSTING_TOKEN}_tuicss.js") %>"></script>
  <head>

  <body class="black-168">
    <%= erb(:"shared/_header_menu_mobile") %>

    <br>

    <a href="/xeraen">
      <img src="<%= url("/images/#{CACHE_BUSTING_TOKEN}_xeraen-logo-350.png") %>" class="mt-30 ml-5" />
    </a>

    <br>

    <div class="tui-window ml-20 mb-20">
      <fieldset class="tui-fieldset">
        <legend>Menu</legend>
        <div class="mb-20 pl-5 pr-15">
        <a href="/xeraen/trackz" class="tui-button">Trackz</a>
        <a href="https://www.youtube.com/watch?v=GYSH0mDteR4&list=PLnBws134IvTRZCeazlMukr-gq24eIWCf4" class="tui-button" target="_blank">Vidz</a>
        <a href="/xeraen/linkz" class="tui-button">Linkz</a>
        </div>
      </fieldset>
    </div>

    <br>

    <div>
      <%= yield %>
    <div>

  </body>
</html>
