<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>XERAEN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tuicss", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "xeraen", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "tuicss", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="black-168">
    <%= render "shared/header_menu_mobile" %>

    <br>

    <a href="/xeraen">
      <%= image_tag "xeraen-logo-350.png", class: "mt-30 ml-5" %>
    </a>

    <br>

    <div class="tui-window ml-20 mb-20">
      <fieldset class="tui-fieldset">
        <legend>Menu</legend>
        <div class="mb-20 pl-5 pr-15">
          <%= link_to "Trackz", xeraen_tracks_path, class: "tui-button" %>
          <%= link_to "Vidz", "https://www.youtube.com/watch?v=GYSH0mDteR4&list=PLnBws134IvTRZCeazlMukr-gq24eIWCf4", class: "tui-button", target: "_blank" %>
          <%= link_to "Linkz", xeraen_linkz_path, class: "tui-button" %>
        </div>
      </fieldset>
    </div>

    <br>

    <div class="ml-10 mb-20 pb-50">
      <%= yield %>
    </div>

  </body>
</html>
